# put some string here
SECRET_KEY = ''
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
# setup for postgresql
SQL_ENGINE=django.db.backends.postgresql
# put some value to setup the db name, user and password
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
# this is same as the name given to the database service
SQL_HOST=db
# default value mostly wont need to change
SQL_PORT=5432

