{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Stacker</title>
    <link rel='stylesheet' href='{% static "/css/main.css" %}'>
    <link rel="shortcut icon" href="#">
</head>
<body>
<div>
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p> 
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a> 
        <p><a href="{% url 'signup' %}">Sign Up</a></p>
    {% endif %}
</div>
{% block content %}
{% endblock content %}

{% block javascript %}
{% endblock javascript %}

</body>
</html>

{% comment %} base.html {% endcomment %}