{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="wrapper">
    <div class="head">
        <h1>Side-To_Side</h1>
        <h3>Welcome to room: {{room_code}}</h3>
        <p id="user_name" name="user_name" type="hidden" value={{user.username}}></p>
    </div>
    <div id = "game_board" room_code = {{room_code}} char_choice = {{char_choice}}>
        {% for i in indexes %}
            <div class="square" data-index = {{i}}></div>
        {% endfor %}
    </div>
    <div id = "alert_move">Your turn. Place your move <strong>{{char_choice}}</strong></div>
</div>
{% endblock content %}

{% block javascript %}
<script src = "{% static 'js/game.js' %}"></script>
{% endblock javascript %}