{% extends 'base.html' %}
{% comment %} index.html {% endcomment %}
{% block content %}
<div class="wrapper">
  <h1>The Side-To-Side Connect Four Game</h1>
  <form method="POST">
    {% csrf_token %}
    <div class='form-control'>
      <input id="user_name" name="user_name" type="hidden" value={{user.username}}></input>
    </div>
    <div class='form-control'>
      <label for="room">Room id</label>
      <select for="room_code" name = "room_code">
        {% for room in room_list %}
          <option value={{room}}>Room: {{room}}</option>
        {% endfor %}
      </select>
      <a href="{% url 'new_room' %}">+ Create Room</a>
    </div>
    <div class='form-control'>
      <label for="character_choice">Your character</label>
      <select for="character_choice" name = "character_choice">
        <option value="X">Player 1 - X</option>
        <option value="O">Player 2 - O</option>
        <option value="-">Spectator</option>
      </select>
    </div>
    <input type="submit" class="button" value="Join Game" />
</div>
{% endblock content %}